<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.radioflex.ide.ui.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="com.radioflex.ide.ui.Perspective"
            id="com.red.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.red.perspective">
         <view
               closeable="true"
               id="org.eclipse.ui.views.ContentOutline"
               minimized="false"
               moveable="true"
               relationship="stack"
               standalone="true"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="Project Explorer"
            class="org.eclipse.ui.navigator.CommonNavigator"
            id="example.view">
      </view>
      <view
            class="org.eclipse.ui.views.contentoutline.ContentOutline"
            id="org.eclipse.ui.views.ContentOutline"
            name="%editor.outline.name"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="org.eclipse.ui.newWizard"
                  label="New"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.text.openLocalFile"
                  label="Open File ..."
                  style="push">
            </command>
            <separator
                  name="com.radioflex.ide.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.close"
                  label="Close"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.closeAll"
                  label="Close All"
                  style="push">
            </command>
            <separator
                  name="com.radioflex.ide.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="edu.suda.ide.command.save"
                  label="Save"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.saveAs"
                  label="Save As ..."
                  style="push">
            </command>
            <separator
                  name="com.radioflex.ide.separator3"
                  visible="true">
            </separator>
            <menu
                  label="Project Setting ...">
               <command
                     commandId="com.radioflex.ide.command.buildsetting"
                     label="Build Setting"
                     style="push">
               </command>
               <command
                     commandId="com.radioflex.ide.command.debugsetting"
                     label="Debug Setting"
                     style="push">
               </command>
            </menu>
            <command
                  commandId="org.eclipse.ui.file.import"
                  label="Import"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.export"
                  label="Export"
                  style="push">
            </command>
            <command
                  commandId="com.radioflex.ide.command.exit"
                  label="Exit ..."
                  style="push">
            </command>
         </menu>
         <menu
               label="Editor">
            <command
                  commandId="com.radioflex.ide.command.redo"
                  label="Redo"
                  style="push">
            </command>
            <command
                  commandId="com.radioflex.ide.command.undo"
                  label="Undo"
                  style="push">
            </command>
            <separator
                  name="com.radioflex.ide.separator4"
                  visible="true">
            </separator>
            <command
                  commandId="com.radioflex.ide.command.copy"
                  label="Copy"
                  style="push">
            </command>
            <command
                  commandId="com.radioflex.ide.command.paste"
                  label="Paste"
                  style="push">
            </command>
            <command
                  commandId="com.radioflex.ide.command.cut"
                  label="Cut"
                  style="push">
            </command>
            <separator
                  name="com.radioflex.ide.separator5"
                  visible="true">
            </separator>
            <command
                  commandId="com.radioflex.ide.command.findandreplace"
                  label="Find and Replace"
                  style="push">
            </command>
         </menu>
         <menu
               label="Debug">
            <command
                  commandId="com.radioflex.ide.command.build"
                  label="Build"
                  style="push">
            </command>
            <separator
                  name="com.radioflex.ide.separator6"
                  visible="true">
            </separator>
            <command
                  commandId="com.radioflex.ide.command.start"
                  label="Start"
                  style="push">
            </command>
            <command
                  commandId="com.radioflex.ide.command.stop"
                  label="Stop"
                  style="push">
            </command>
            <command
                  commandId="com.radioflex.ide.command.continue"
                  label="Continue"
                  style="push">
            </command>
            <command
                  commandId="com.radioflex.ide.command.step"
                  label="Step"
                  style="push">
            </command>
            <separator
                  name="com.radioflex.ide.separator7"
                  visible="true">
            </separator>
            <command
                  commandId="com.radioflex.ide.command.setbreakpoint"
                  label="Set Breakpoint"
                  style="push">
            </command>
            <command
                  commandId="com.radioflex.ide.command.removebreakpoint"
                  label="Remove Breakpoint"
                  style="push">
            </command>
            <separator
                  name="com.radioflex.ide.separator8"
                  visible="true">
            </separator>
            <command
                  commandId="com.radioflex.ide.command.switchmodel"
                  label="Switch Model"
                  style="push">
            </command>
         </menu>
         <menu
               label="Help">
         </menu>
         <menu
               label="Preference">
            <command
                  commandId="org.eclipse.ui.window.preferences"
                  label="Preference"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="com.radioflex.ide.toolbar1">
            <command
                  commandId="com.radioflex.ide.command.newproject"
                  label="1"
                  style="push">
            </command>
            <command
                  commandId="com.radioflex.ide.command.openproject"
                  label="2"
                  style="push">
            </command>
            <command
                  commandId="com.radioflex.ide.command.newfile"
                  label="3"
                  style="push">
            </command>
            <command
                  commandId="com.radioflex.ide.command.openfile"
                  label="4"
                  style="push">
            </command>
            <command
                  commandId="com.radioflex.ide.command.savefile"
                  label="5"
                  style="push">
            </command>
            <command
                  commandId="com.radioflex.ide.command.build"
                  label="6"
                  style="push">
            </command>
            <command
                  commandId="com.radioflex.ide.command31"
                  label="7"
                  style="push">
            </command>
            <command
                  commandId="com.radioflex.ide.command32"
                  label="8"
                  style="push">
            </command>
            <command
                  commandId="com.radioflex.ide.command.step"
                  label="9"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="com.radioflex.ide.command.newfile">
      </handler>
      <handler
            commandId="com.radioflex.ide.command.newproject">
      </handler>
      <handler
            commandId="com.radioflex.ide.command.openfile">
      </handler>
      <handler
            commandId="com.radioflex.ide.command.saveas">
      </handler>
      <handler
            commandId="com.radioflex.ide.command.openproject">
      </handler>
      <handler
            commandId="com.radioflex.ide.command.exit">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.radioflex.ide.ui.editor.RadioFlexEditor"
            extensions="asm,test"
            icon="icons/editorsample.png"
            id="com.radioflex.ide.editor1"
            name="RadioflexEditor">
      </editor>
   </extension>
    <extension
         point="org.eclipse.ui.navigator.viewer">
       <viewerContentBinding 
            viewerId="example.view">
          <includes>
             <contentExtension
                   pattern="org.eclipse.ui.navigator.resourceContent">
             </contentExtension>
             <contentExtension
                   pattern="org.eclipse.ui.navigator.resources.filters.*">
             </contentExtension>
          </includes>
       </viewerContentBinding>
       <viewerActionBinding
             viewerId="example.view">
          <includes>
             <actionExtension
                   pattern="org.eclipse.ui.navigator.resources.*">
             </actionExtension>
          </includes>
       </viewerActionBinding>
   </extension>
    <extension
          point="org.eclipse.ui.preferencePages">
       <page
             class="com.radioflex.ide.ui.preference.PreferencesGeneral"
             id="com.radioflex.ide.page1"
             name="Prefrence">
       </page>
       <page
             category="com.radioflex.ide.page1"
             class="com.radioflex.ide.ui.preference.PreferencesChangeKeywords"
             id="com.radioflex.ide.page2"
             name="Keywords">
       </page>
    </extension>
    <extension
          point="org.eclipse.core.runtime.preferences">
       <initializer
             class="com.radioflex.ide.ui.preference.PreferencesInitializer">
       </initializer>
    </extension>
    <extension
          id="radioflex_product"
          point="org.eclipse.core.runtime.products">
       <product
             application="com.radioflex.ide.application"
             name="ide_product">
          <property
                name="appName"
                value="ide_product">
          </property>
       </product>
    </extension>



</plugin>
