<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.radioflex.ide.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective - Debug"
            class="com.radioflex.ide.PerspectiveDebug"
            id="com.radioflex.ide.perspective.debug">
      </perspective>
      <perspective
            class="com.radioflex.ide.PerspectiveEdit"
            id="com.radioflex.ide.perspective.edit"
            name="Perspective - Edit">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.eclipse.ui.navigator.CommonNavigator"
            icon="icons/alt_window16.gif"
            id="com.radioflex.ide.view.project"
            name="ASM Explorer">
      </view>
      <view
            class="com.radioflex.ide.view.XMLView"
            id="com.radioflex.ide.viewxml"
            name="XML"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
       <viewerContentBinding 
            viewerId="com.radioflex.ide.view.project">
          <includes>
       	     <contentExtension pattern="org.eclipse.ui.navigator.resourceContent" />		       	      
	     <contentExtension pattern="org.eclipse.ui.navigator.resources.filters.*"/>
          </includes>
       </viewerContentBinding>
        <viewerActionBinding 
            viewerId="com.radioflex.ide.view.project">
          <includes>
       	     <actionExtension pattern="org.eclipse.ui.navigator.resources.*" />		       	      
          </includes>
       </viewerActionBinding>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="org.eclipse.ui.newWizard"
                  label="New"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.text.openLocalFile"
                  label="Open File..."
                  style="push">
            </command>
            <separator
                  name="com.radioflex.ide.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.close"
                  label="Close"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.closeAll"
                  label="Close All"
                  style="push">
            </command>
            <separator
                  name="com.radioflex.ide.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.save"
                  label="Save"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.saveAs"
                  label="Save As"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.saveAll"
                  label="Save All"
                  style="push">
            </command>
            <separator
                  name="com.radioflex.ide.separator3"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.import"
                  label="Import"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.export"
                  label="Export"
                  style="push">
            </command>
            <separator
                  name="com.radioflex.ide.separator4"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit"
                  style="push">
            </command>
         </menu>
         <menu
               label="Project">
            <command
                  commandId="org.eclipse.ui.project.openProject"
                  label="Open Project"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.project.closeProject"
                  label="Close Project"
                  style="push">
            </command>
            <separator
                  name="com.radioflex.ide.separator5"
                  visible="true">
            </separator>
            <command
                  commandId="com.radioflex.ide.command.build"
                  label="Build"
                  style="push">
            </command>
            <command
                  commandId="com.radioflex.ide.command.clean"
                  label="Clean"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.project.buildAutomatically"
                  label="Build Automatically"
                  style="toggle">
            </command>
            <separator
                  name="com.radioflex.ide.separator6"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.properties"
                  label="Properties"
                  style="push">
            </command>
         </menu>
         <menu
               label="Window">
            <command
                  commandId="org.eclipse.ui.window.quickAccess"
                  label="Quick Access"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  label="Show View"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.perspectives.showPerspective"
                  label="Show Perspective"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.window.preferences"
                  label="Preferences"
                  style="push">
            </command>
         </menu>
         <menu
               label="Help">
            <command
                  commandId="org.eclipse.ui.window.showKeyAssist"
                  style="push">
            </command>
            
         </menu>
         <menu
               label="Debug">
            <command
                  commandId="trunk.start"
                  label="Start"
                  style="push">
            </command>
            <command
                  commandId="trunk.run"
                  label="Run"
                  style="push">
            </command>
            <command
                  commandId="trunk.stop"
                  label="Stop"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="com.radioflex.ide.toolbar">
            <command
                  commandId="org.eclipse.ui.newWizard"
                  label="New"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.undo"
                  label="Undo"
                  style="push">
            </command>
            <command
                  commandId="com.radioflex.ide.command.build"
                  icon="icons/alt_window16.gif"
                  label="Build"
                  style="pulldown">
            </command>
         </toolbar>
      </menuContribution>
	<!--
      <menuContribution
            allPopups="false"
            locationURI="menu:com.radioflex.ide.command.build">
         <command
               commandId="com.radioflex.ide.buildconfig.radio"
               id="com.radioflex.ide.buildconfig.radio1"
               label="Simulator"
               style="radio">
            <parameter
                  name="org.eclipse.ui.commands.radioStateParameter"
                  value="Simulator">
            </parameter>
         </command>
         <command
               commandId="com.radioflex.ide.buildconfig.radio"
               id="com.radioflex.ide.buildconfig.radio2"
               label="FPGA"
               style="radio">
            <parameter
                  name="org.eclipse.ui.commands.radioStateParameter"
                  value="FPGA">
            </parameter>
         </command>
      </menuContribution>
      -->
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.radioflex.ide.ui.BuildProjectHandler"
            commandId="com.radioflex.ide.command.build">
      </handler>
      <handler
            class="com.radioflex.ide.ui.CleanHandler"
            commandId="com.radioflex.ide.command.clean">
      </handler>
      <handler
            class="com.radioflex.ide.ui.BuildAutoHandler"
            commandId="org.eclipse.ui.project.buildAutomatically">
      </handler>
      <handler
            class="com.radioflex.ide.ui.BuildConfigHandler"
            commandId="com.radioflex.ide.buildconfig.radio">
      </handler>
      <handler
            class="com.radioflex.ide.debug.Start"
            commandId="trunk.start">
      </handler>
      <handler
            class="com.radioflex.ide.debug.Run"
            commandId="trunk.run">
      </handler>
      <handler
            class="com.radioflex.ide.debug.Stop"
            commandId="trunk.stop">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.eclipse.ui.project.buildAutomatically"
            name="Build Automatically">
         <state
               class="org.eclipse.ui.handlers.RegistryToggleState:true"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
      <command
            id="com.radioflex.ide.command.clean"
            name="clean">
      </command>
      <command
            id="com.radioflex.ide.command.build"
            name="Build">
      </command>
      
      
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.radioflex.ide.editor.ASMEditor"
            default="true"
            extensions="asm"
            icon="icons/alt_window16.gif"
            id="com.radioflex.ide.editor"
            name="ASM Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="com.radioflex.ide.category.assembler"
            name="Assembler">
      </category>
      <wizard
            category="com.radioflex.ide.category.assembler"
            class="com.radioflex.ide.ui.NewProject"
            finalPerspective="com.radioflex.ide.perspective.edit"
            icon="icons/alt_window16.gif"
            id="com.radioflex.ide.wizard.newproject"
            name="New ASM Project"
            project="true">
      </wizard>
      <wizard
            category="com.radioflex.ide.category.assembler"
            class="com.radioflex.ide.ui.NewFile"
            icon="icons/alt_about.gif"
            id="com.radioflex.ide.wizard.newfile"
            name="New ASM File">
      </wizard>
   </extension>
   <extension
         id="com.radioflex.ide.nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.radioflex.ide.project.ASMNature">
         </run>
      </runtime>
   </extension>
   <extension
         id="com.radioflex.ide.builder"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="com.radioflex.ide.project.ASMBuilder">
         </run>
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.console.consoleFactories">
      <consoleFactory
            class="com.radioflex.ide.ui.ConsoleFactory"
            label="Output Console">
      </consoleFactory>
   </extension>
   <extension
         id="com.radioflex.ide.page.asm"
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.radioflex.ide.preferences.PreferenceHighlighting"
            id="com.radioflex.ide.page.asm"
            name="ASM">
      </page>
      <page
            category="com.radioflex.ide.page.asm"
            class="com.radioflex.ide.preferences.PreferenceCompiler"
            id="com.radioflex.ide.page.compiler"
            name="Compiler">
      </page>
      <page
            category="com.radioflex.ide.page.asm"
            class="com.radioflex.ide.preferences.PreferenceKeysChange"
            id="com.radioflex.ide.page.keychange"
            name="Key_Change">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.radioflex.ide.preferences.PreferencesInitializer">
      </initializer>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.radioflex.ide.application"
            name="radioflex">
         <property
               name="appName"
               value="radioflex">
         </property>
      </product>
   </extension>
	<extension
		point="org.eclipse.ui.activities">
		<activity 
			id="com.radioflex.ide.activities.hideActionActivity"
			name="Hide Unwanted Action">
			<enabledWhen>
				<with
					variable="activePartId">
						<!-- valu=nonexistentPartId to hide the menu-->
						<equals
							value="com.radioflex.ide.activities.unwantedActionSet1">
						</equals>
				</with>
			</enabledWhen>
		</activity>	
		<activitypatternbinding
			activityId="com.radioflex.ide.activities.hideActionActivity"
			pattern="org.eclipse.ui.externaltools.ExternalToolsSet">
		</activitypatternbinding>	
	</extension>
 <extension
       point="org.eclipse.debug.core.launchConfigurationTypes">
    <launchConfigurationType
          delegate="com.radioflex.ide.launch.ASMLauncher"
          id="trunk.launchConfigurationType1"
          modes="run,debug"
          name="ASM Launch">
    </launchConfigurationType>
 </extension>
 <extension
       point="org.eclipse.debug.ui.launchShortcuts">
    <shortcut
          class="com.radioflex.ide.launch.ASMLaunchShortcut"
          id="trunk.shortcut2"
          label="shortcut"
          modes="run,debug">
    </shortcut>
 </extension>
 <extension
       point="org.eclipse.debug.ui.launchGroups">
    <launchGroup
          bannerImage="trunk.launchGroup1"
          id="trunk.launchGroup1"
          image="trunk.launchGroup1"
          label="launchgroup"
          mode="run,debug">
    </launchGroup>
 </extension>
 <extension
       point="org.eclipse.debug.ui.launchConfigurationTabGroups">
    <launchConfigurationTabGroup
          class="com.radioflex.ide.launch.ASMLaunchTabGroup"
          id="trunk.launchConfigurationGroup1"
          type="trunk.launchConfigurationType1">
       <launchMode
             mode="run">
       </launchMode>
       <launchMode
             mode="debug"
             perspective="org.eclipse.debug.ui.DebugPerspective">
       </launchMode>
    </launchConfigurationTabGroup>
 </extension>
 <extension
       point="org.eclipse.ui.perspectiveExtensions">
    <perspectiveExtension
          targetID="*">
       <actionSet
             id="org.eclipse.debug.ui.launchActionSet">
       </actionSet>
    </perspectiveExtension>
 </extension>
   <!--
   <extension
         point="org.eclipse.ui.commands">
         <command
            id="com.radioflex.ide.buildconfig.radio"
            name="Radio Example">
         <commandParameter
               id="org.eclipse.ui.commands.radioStateParameter"
               name="Radio Name"
               optional="false">
         </commandParameter>
         <state
               id="org.eclipse.ui.commands.radioState">
            <class
                  class="org.eclipse.ui.handlers.RadioState">
               <parameter
                     name="default"
                     value="Simulator">
               </parameter>
               <parameter
                     name="persisted"
                     value="false">
               </parameter>
            </class>
         </state>
      </command>
   </extension>
   -->

<!--hide unwanted Run menu in the main menu bar (temporarily)-->
	
</plugin>
